{% extends "layout.html" %}
{% block content %}
    <form method="POST">
        <label for="device-name">Name:</label>
        <input type="text" name="device-name" id="device-name">
        <label for="device-description">Description:</label>
        <input type="text" name="device-description" id="device-description">
        
        <select id="device-type" name="device-type">
            {% for device_type in device_types %}
                <option value={{device_type.id}}>
                    {{device_type.name}}:
    
                    {% for parameter in parameters[device_type.name] %}
                        {{ parameter }} ;
                    {% endfor %}
                </option>
            {% endfor %}            
        </select>
        <br>
        <input type="hidden" name="system_id" value="{{ system_id }}">
        <button type="submit" name="create-device">Add device</button>
    </form>
{% endblock content %}