{% extends "layout.html" %}
{% block content %}
    <ul class="list-group list-group-flush">
        <h2>Device types:</h2>
        {% for device_type in device_types %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4 mb-4">
            <a class="btn btn-secondary" href="/device_types/{{device_type.id}}/edit">Edit device type</a>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4 mb-4">
            <a class="btn btn-secondary" href="/device_types/{{device_type.id}}/delete">Delete device type</a>
        </div>
            <li class="list-group-item"><h3>{{device_type.name}}</h3><br>
                    {% for parameter in device_type.parameters %}
                        {{parameter.name}} units: {{parameter.unit}}
                    {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <ul class="list-group list-group-flush">
        <h2>Paremeters:</h2>
        {% for parameter in parameters %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4 mb-4">
            <a class="btn btn-secondary" href="/parameters/{{parameter.id}}/edit">Delete device type</a>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4 mb-4">
            <a class="btn btn-secondary" href="/parameters/{{parameter.id}}/delete">Delete parameter</a>
        </div>

            <li class="list-group-item">
                {{parameter.name}} units: {{parameter.unit}} <br>
            </li>
        {% endfor %}

    </ul>
{% endblock %}