{% extends "layout.html" %}
{% block content %}
<form method="POST" class="container-sm" style="max-width:768px" novalidate>
    <h2>{{title}}</h2>
    {{form.hidden_tag()}}
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                {{form.username(class="form-control" + (" is-invalid" if 'username' in form.errors else ""), placeholder="",  oninput="reset_validation(this)")}}
                {{form.username.label}}
                {% if 'username' in form.errors %}
                <div class="invalid-feedback">{{form.errors['username'][0]}}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                {{form.first_name(class="form-control" + (" is-invalid" if 'first_name' in form.errors else ""), placeholder="",  oninput="reset_validation(this)")}}
                {{form.first_name.label}}
                {% if 'first_name' in form.errors %}
                <div class="invalid-feedback">{{form.errors['first_name'][0]}}</div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                {{form.last_name(class="form-control" + (" is-invalid" if 'last_name' in form.errors else ""), placeholder="",  oninput="reset_validation(this)")}}
                {{form.last_name.label}}
                {% if 'last_name' in form.errors %}
                <div class="invalid-feedback">{{form.errors['last_name'][0]}}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {{form.submit(class="btn btn-primary")}}
            </div>
        </div>
    </div>
</form>
{% endblock %}