{% extends "layout.html" %}
{% block content %}
<form method="POST" class="container-sm" style="max-width:768px" novalidate>
    <h2>{{title}}</h2>
    {{form.hidden_tag()}}
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                {{form.password(class="form-control" + (" is-invalid" if 'password' in form.errors else ""), placeholder="",  oninput="reset_validation(this)")}}
                {{form.password.label}}
                {% if 'password' in form.errors %}
                <div class="invalid-feedback">{{form.errors['password'][0]}}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                {{form.passwordConfirm(class="form-control" + (" is-invalid" if 'passwordConfirm' in form.errors else ""), placeholder="",  oninput="reset_validation(this)")}}
                {{form.passwordConfirm.label}}
                {% if 'passwordConfirm' in form.errors %}
                <div class="invalid-feedback">{{form.errors['passwordConfirm'][0]}}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {{form.submit(class="btn btn-primary")}}
            </div>
        </div>
    </div>
</form>
{% endblock %}