{% extends "layout.html" %}
{% block content %}
<form method="POST" class="container-sm" style="max-width:768px" novalidate>
    {{form.hidden_tag()}}
    <h2>{{title}}</h2>
    <div class="form-floating mb-3">
        {{form.kpi_name(class="form-control" + (" is-invalid" if 'kpi_name' in form.errors else ""), placeholder="",  oninput="reset_validation(this)")}}
        {{form.kpi_name.label}}
        {% if 'kpi_name' in form.errors %}
        <div class="invalid-feedback">{{form.errors['kpi_name'][0]}}</div>
        {% endif %}
    </div>
    <div class="form-floating mb-3">
        {{form.kpi_description(class="form-control", placeholder="", style="min-height:150px")}}
        {{form.kpi_description.label}}
        {% if 'kpi_description' in form.errors %}
        <div class="invalid-feedback">{{form.errors['kpi_description'][0]}}</div>
        {% endif %}
    </div>
    <div class="form-floating mb-3">
        {{form.parameter(class="form-control" + (" is-invalid" if 'parameter' in form.errors else ""), placeholder="",  oninput="reset_validation(this)")}}
        {{form.parameter.label}}
        {% if 'parameter' in form.errors %}
        <div class="invalid-feedback">{{form.errors['parameter'][0]}}</div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                {{form.lower_limit(class="form-control" + (" is-invalid" if 'lower_limit' in form.errors else ""), placeholder="",  oninput="reset_validation(this)")}}
                {{form.lower_limit.label}}
                {% if 'lower_limit' in form.errors %}
                <div class="invalid-feedback">{{form.errors['lower_limit'][0]}}</div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-1">
                {{form.upper_limit(class="form-control" + (" is-invalid" if 'upper_limit' in form.errors else ""), placeholder="",  oninput="reset_validation(this)")}}
                {{form.upper_limit.label}}
                {% if 'upper_limit' in form.errors %}
                <div class="invalid-feedback">{{form.errors['upper_limit'][0]}}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <small class="text-muted">Fields marked with '*' are mandatory.</small>
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {{form.submit(class="btn btn-primary")}}
            </div>
        </div>
    </div>
</form>
{% endblock content %}
