<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <header class="site-header">
        <form id="myForm" action="/register" method="get">
            <button type="submit">register</button>
        </form>
        <form id="myForm" action="/login" method="get">
            <button type="submit">login</button>
        </form>
        <!-- ukazat jmeno uzivatele a roli asi-->
        <!-- jmeno aktualni zalozka -->
    </header>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
    
</body>
</html>