<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <header class="site-header">
        <ul>
            {% if not current_user.is_authenticated %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
                <li class="right"><a href="/logout">Logout</a></li>
            {% endif %}
        </ul>
        <!-- ukazat jmeno uzivatele a roli asi-->
        <!-- jmeno aktualni zalozka -->
    </header>
    <main role="main" class="container clear">
        {% block content %}{% endblock %}
    </main>
    
</body>
</html>