<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - IoT manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script>
        function reset_validation(element)
        {
            element.classList.remove("is-invalid");
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler ml-auto mr-3 order-lg-last" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == "/systems/" %}active{% endif %}" href="/systems/">Systems</a>
                    </li>
                    {% if current_user.role == "admin" %}
                        <li class="nav-item">
                            <a href="/devices_&_parameters/" class="nav-link {% if request.path == "/devices_&_parameters/" %}active{% endif %}">Manage devices</a>
                        </li>
                        <li class="nav-item">
                            <a href="/users/" class="nav-link {% if request.path == "/users/" %}active{% endif %}">Manage users</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="/login/" class="nav-link {% if request.path == "/login/" %}active{% endif %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register/" class="nav-link {% if request.path == "/register/" %}active{% endif %}">Register</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="/users/{{current_user.id}}/edit_info/" class="nav-link {% if request.path == "/users/" ~ current_user.id ~ "/edit_info/" %}active{% endif %}">Edit user info</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/{{current_user.id}}/edit_password/" class="nav-link {% if request.path == "/users/" ~ current_user.id ~ "/edit_password/" %}active{% endif %}">Change password</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout/" class="nav-link">Logout ({{ current_user.username }})</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- ukazat jmeno uzivatele a roli asi-->
        <!-- jmeno aktualni zalozka -->
    </nav>
    <main role="main">
        {% block content %}{% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>