{% extends "layout.html" %}
{% block content %}
    <form method="POST" class="container-sm" style="max-width:768px">
        <h2>Login</h2>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="login-username" placeholder="" name="login-username">
            <label for="login-username">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="login-password" placeholder="" name="login-password">
            <label for="login-password">Password</label>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
{% endblock %}