<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
<form method="POST">
    <!-- Registration Form -->
    <h2>Registration</h2>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <label for="first_name">First name:</label>
    <input type="first_name" name="first_name" id="first_name">
    <label for="last_name">Last name:</label>
    <input type="last_name" name="last_name" id="last_name">
    <label for="role">Role:</label>
    <input type="role" name="role" id="role">
    <button type="submit" name="register">Register</button>
</form>
</body>
</html>