{% extends "layout.html" %}
{% block content %}
<form method="POST" class="container-sm" style="max-width:768px">
    <h2>Registration</h2>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" placeholder="" name="username">
                <label for="username">Username</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="first_name" placeholder="" name="first_name">
                <label for="first_name">First name</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="last_name" placeholder="" name="last_name">
                <label for="last_name">Last name</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <select class="form-select" type="role" id="role" name="role">
                    <option value="user" selected>User</option>
                    <option value="admin">Admin</option>
                </select>
                <label for="role">Role</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="" name="password">
                <label for="password">Password</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}