{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>Systems</h1>
    <div class="container mt-4">
        <ul class="list-group">
            {% for system in systems %}
            <li class="list-group-item d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="col text-sm-start text-center" style="margin-top:auto;margin-bottom:auto">
                    {{ system.name }} ({{ system.id }}) <span class="ms-5 {% if system.state == "OK" %}text-success{% else %}text-danger{% endif %}">{{system.state}}</span>
                </div>
                {% if current_user.is_authenticated %}
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                        <input type="hidden" name="system_id" value="{{ system.id }}">
                        {% if system.button == "Detail" %}
                            <a class="btn btn-primary" href="/systems/{{system.id}}/">{{system.button}}</a>
                        {% elif system.button == "Request system use" %}
                            <a class="btn btn-warning" href="/systems/{{system.id}}/request/">{{ system.button }}</a>
                        {% else %}
                            <a class="btn btn-warning" href="#"> >{{ system.button }} </a>
                        {% endif %}
                        {% if system.owner == True or current_user.role == "admin" %}
                        <a class="btn btn-danger" href="/systems/{{system.id}}/delete/">Delete</a>
                        {% endif %}
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% if current_user.is_authenticated %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
            <a class="btn btn-secondary" href="/systems/create">Create system</a>
        </div>    
        {% endif %}
    </div>
</div>


{% endblock content %}