{% extends "layout.html" %}
{% block content %}
<div class="container mb-4">

    <h1>{{title}}</h1>
    <p>{{ system.description }}</p>
    {% if system.system_manager == user.id or user.role == "admin" %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4 mb-4">
        <a class="btn btn-secondary" href="/systems/{{system.id}}/edit">Edit system</a>
    </div>
    {% endif %}
    <!-- TODO: zadosti o system -->
    {% if (system.system_manager == user.id or user.role == "admin") and system.users_requesting |length != 0 %}
    <div class="mb-4">
        <h2>Requests:</h2>
        <ul class="list-group">
            {% for request in system.users_requesting %}
            <li class="list-group-item d-grid gap-2 d-md-flex justify-content-md-end" style="min-height:60px;">
                <div class="col text-md-start text-center" style="margin-top:auto;margin-bottom:auto">User: {{request.username}}</div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end" style="height:min-content;margin-top:auto;margin-bottom:auto;">
                    <a class="btn btn-success" href="/systems/{{system.id}}/requests/{{request.id}}/accept/">Accept</a>
                    <a class="btn btn-danger" href="/systems/{{system.id}}/requests/{{request.id}}/reject/">Reject</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <!--  TODO request styles -->
    <!--  TODO nadepsat u device Parametry a KPIs -->
    <h3>Devices:</h3>
    {% for device,parameters,values,kpis_of_parameters,kpis_states_of_parameters in zip(devices,parameters,values,kpis_of_devices,kpis_states_of_devices) %} 
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{device.name}}</h5>
                <p class="card-text">{{device.description}}</p>
                <hr>
                <h6>Parameters:</h6>
                <ul class="list-group list-group-flush">
                    {% for parameter,value,kpis,kpi_states in zip(parameters,values,kpis_of_parameters,kpis_states_of_parameters) %}
                    <li class="list-group-item">{{parameter.name}}: {{value.value}} {{parameter.unit}}</li>
                    {% endfor %}
                </ul>
                <hr>
                <h6>KPIs</h6>
                <ul class="list-group list-group-flush">
                    {% for parameter,value,kpis,kpi_states in zip(parameters,values,kpis_of_parameters,kpis_states_of_parameters) %}
                            {% for kpi,kpi_state in zip(kpis,kpi_states) %}
                                <li class="list-group-item">
                                    {{kpi.name}}:
                                    <span class="{% if kpi_state == 'OK' %}text-success{% else %}text-danger{% endif %}">{{kpi_state}}</span>
                                </li>
                            {% endfor %}
                    {% endfor %}
                </ul>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a class="btn btn-primary" href="/systems/{{system.id}}/devices/{{device.id}}">Detail</a>
                    {% if system.system_manager == user.id or user.role == "admin" %}
                    <a class="btn btn-primary" href="/systems/{{system.id}}/devices/{{device.id}}/edit/">Edit</a>
                    <a class="btn btn-danger" href="/systems/{{system.id}}/devices/{{device.id}}/delete/">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

    <h3 class="mt-4">KPIs</h3>
    {% for kpi, parameter in zip(kpis,parameters_of_kpis) %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{kpi.name}} ({{parameter.name}})</h5>
                <p class="card-text">{{kpi.description}}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">from {{kpi.lower_limit}} {{parameter.unit}}</li>
                    <li class="list-group-item">to {{kpi.upper_limit}} {{parameter.unit}}</li>
                </ul>
                {% if system.system_manager == user.id or user.role == "admin" %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a class="btn btn-primary" href="/systems/{{system.id}}/kpi/{{kpi.id}}/edit/">Edit</a>
                    <a class="btn btn-danger" href="/systems/{{system.id}}/kpi/{{kpi.id}}/delete/">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
        {% if system.system_manager == user.id or user.role == "admin" %}
        <a class="btn btn-secondary" href="/systems/{{system.id}}/devices/create">Add device</a>
        <a class="btn btn-secondary" href="/systems/{{system.id}}/kpi/create">Define kpi</a>
        {% endif %}
        {% if user.role == "user" and user.id != system.system_manager %}
        <a class="btn btn-warning" href="/systems/{{system.id}}/requests/{{user.id}}/revoke/">Leave system</a>
        {% endif %}
    </div>
</div>
{% endblock content %}