{% extends "layout.html" %}
{% block content %}
<div class="container">

    <h1>system: {{ system.name }}</h1>
    <p>{{ system.description }}</p>
    <!-- TODO: zadosti o system -->

    {% if system.system_manager == user.id or user.role == "admin" %}
        {% for request in system.users_requesting %}
            "user: "{{request.username}}" id:"{{request.id}} 
            <form method="POST">
                <input type="hidden" name="system_id" value="{{ system.id }}">
                <input type="hidden" name="request_user_id" value="{{ request.id }}">
                <button type="submit" name="request-accept">Accept</button>
            </form>

            <form method="POST">
                <input type="hidden" name="system_id" value="{{ system.id }}">
                <input type="hidden" name="request_user_id" value="{{ request.id }}">
                <button type="submit" name="request-decline">Decline</button>
            </form>
            <br>

        {% endfor %}
    {% endif %}

    <!--  TODO parameter values -->
    {% for device,parameters,values,kpis_of_parameters,kpis_states_of_parameters in zip(devices,parameters,values,kpis_of_devices,kpis_states_of_devices) %}
        {{device.name}} {{device.description}}
            <br>
            {% for parameter,value,kpis,kpi_states in zip(parameters,values,kpis_of_parameters,kpis_states_of_parameters) %}
                {{parameter.name}}: {{value.value}} {{parameter.unit}}<br>
                    {% for kpi,kpi_state in zip(kpis,kpi_states) %}
                        {{kpi.name}}: {{kpi_state}}<br>
                    {% endfor %}
            {% endfor %}


        <form method="POST" action="/systems/{{system.id}}/{{device.id}}">
                <input type="hidden" name="user_id" value="{{ user.id }}">
            <button type="submit" name="device-detail">Detail</button>
        </form>
 
        <br>
    {% endfor %}

    {% if system.system_manager == user.id or user.role == "admin" %}

        <form method="POST">
            <input type="hidden" name="system_id" value="{{ system.id }}">
            <button type="submit" name="add-device">Add device</button>
        </form>
        <form method="POST" action="/systems/{{system.id}}/kpi/create">
            <button type="submit" name="add-kpi-form">Define kpi</button>
        </form>
    {% endif %}
    
{% endblock content %}