{% extends "layout.html" %}
{% block content %}
<div class="container mb-4">

    <h1>System: {{ system.name }}</h1>
    <p>{{ system.description }}</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4 mb-4">
            <a class="btn btn-secondary" href="/systems/{{system.id}}/edit">Edit system</a>
    </div>
    <!-- TODO: zadosti o system -->
    {% if system.system_manager == user.id or user.role == "admin" %}
        {% for request in system.users_requesting %}
            "user: "{{request.username}}" id:"{{request.id}} 
            <form method="POST">
                <input type="hidden" name="system_id" value="{{ system.id }}">
                <input type="hidden" name="request_user_id" value="{{ request.id }}">
                <button type="submit" name="request-accept">Accept</button>
            </form>

            <form method="POST">
                <input type="hidden" name="system_id" value="{{ system.id }}">
                <input type="hidden" name="request_user_id" value="{{ request.id }}">
                <button type="submit" name="request-decline">Decline</button>
            </form>
            <br>

        {% endfor %}
    {% endif %}

    <!--  TODO parameter values -->
    <!--  TODO request styles -->
    <h3>Devices:</h3>
    {% for device,parameters,values,kpis_of_parameters,kpis_states_of_parameters in zip(devices,parameters,values,kpis_of_devices,kpis_states_of_devices) %}
            {% for parameter,value,kpis,kpi_states in zip(parameters,values,kpis_of_parameters,kpis_states_of_parameters) %}
                    {% for kpi,kpi_state in zip(kpis,kpi_states) %}
                        {{kpi.name}}: {{kpi_state}}<br>
                    {% endfor %}
            {% endfor %}
 
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{device.name}}</h5>
                <p class="card-text">{{device.description}}</p>
                <ul class="list-group list-group-flush">
                    {% for parameter,value,kpis,kpi_states in zip(parameters,values,kpis_of_parameters,kpis_states_of_parameters) %}
                    <li class="list-group-item">{{parameter.name}}: {{value.value}} {{parameter.unit}}</li>
                    {% endfor %}
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a class="btn btn-danger" href="/systems/{{system.id}}/devices/{{device.id}}/delete/">Delete</a>
                    <a class="btn btn-primary" href="/systems/{{system.id}}/devices/{{device.id}}">Detail</a>
                    <a class="btn btn-primary" href="/systems/{{system.id}}/devices/{{device.id}}/edit/">Edit</a>
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- TODO kpi parameter names -->
    <h3 class="mt-4">KPIs</h3>
    {% for kpi in kpis %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{kpi.name}}</h5>
                <p class="card-text">{{kpi.description}}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{parameter name} {{kpi.lower_limit}} {unit}</li>
                    <li class="list-group-item">{parameter name} {{kpi.upper_limit}} {unit}</li>
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a class="btn btn-danger" href="/systems/{{system.id}}/kpi/{{kpi.id}}/delete/">Delete</a>
                    <a class="btn btn-primary" href="/systems/{{system.id}}/kpi/{{kpi.id}}/edit/">Edit</a>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if system.system_manager == user.id or user.role == "admin" %}

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
        <a class="btn btn-secondary" href="/systems/{{system.id}}/devices/create">Add device</a>
        <a class="btn btn-secondary" href="/systems/{{system.id}}/kpi/create">Define kpi</a>
    </div>
    {% endif %}
</div>
{% endblock content %}