{% extends "layout.html" %}
{% block content %}
<h1>Systems</h1>
<div class="container">
    {% for system in systems %}
    <div class="item">
        <div class="system-name">{{ system.name }}</div>
        <div class="system-id">{{ system.id }}</div>
        <div class="system-kpis">                 
            {% for kpis in system.kpis %}
                <span class="system-kpi-name">{{ kpis.name }}</span>
                <span class="system-kpi-state {% if kpis.state == "OK" %}status_ok{% else %}status_error{% endif %}">{{ kpis.state }}</span>
            {% endfor %}
        </div>
        {% if current_user.is_authenticated %}
        <form method="POST">
            <input type="hidden" name="system_id" value="{{ system.id }}">
            {% if system.button == "detail" %}
                <button type="submit" name="system-button-detail" >{{ system.button }} </button>
            {% elif system.button == "request system use" %}
                <button type="submit" name="system-button-request" >{{ system.button }} </button>
            {% else %}
                <button type="button" name="system-button-request" >{{ system.button }} </button>
            {% endif %}
        </form>
        <form method="POST">
            {% if system.owner == True %}
                <button type="submit" name="system-button-delete" >DELETE</button>
                <input type="hidden" name="system_id" value="{{ system.id }}">
            {% endif %}
        </form>
        {% endif %}
        <br>
    </div>
    {% endfor %}
    {% if current_user.is_authenticated %}
    <form method="POST">
        <button type="submit" name="add-system-button">Create system</button>
    </form>    
    {% endif %}
</div>


{% endblock content %}